.topbar {
    width: 100%;
    height: 70px;

    background-color: white;
    /* background-color: var(--main-color); */
    color: var(--main-color);

    position: fixed;

    /* Make sure it always stays at the top */
    z-index: 3;

    transition: all 1s ease;
}

.wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;

}

.left .logo {
    font-size: 40px;
    font-weight: 700;

    text-decoration: none;
    color: inherit;

    margin-right: 40px;
}

.left .itemContainer {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.itemContainer .icon {
    font-size: 18px;
    margin-right: 5px;
}

.itemContainer span {
    font-size: 15px;
    font-weight: 500;
}

.menuIcon {
    color: var(--main-color);
    cursor: pointer;
}

.topbar.active {
    background-color: var(--main-color);
    color: white;
}

.topbar.active .menuIcon {
    color: white;
}