.works {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.slider {
    height: 350px;

    display: flex;
    position: absolute;
    left: 0;

    transition: all 1s ease;

    /* border: 1px solid blue; */

    /* left: -100vw; */
}

.works-container {
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid green; */

}

.works-item {
    width: 700px;
    height: 100%;

    background-color: white;

    /* border: 1px solid black; */
    /* padding: 10px; */

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.works-left {
    flex: 4;

    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid green; */
}

.works-right {
    flex: 8;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid blue; */
}

.works-right img {
    border-radius: 10px;

    margin: 0 5px;
}

.works-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* border: 1px solid red; */

    width: 90%;
    height: 70%;
}

.works-left-container h2 {
    font-size: 20px;
}

.works-left-container p {
    font-size: 13px;
}

.works-left-container span {
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;

    cursor: pointer;
}

.arrow {
    position: absolute;
    height: 50px;

    cursor: pointer;
}

.arrow-left {
    left: 100px;

    transform: rotateY(180deg);
}

.arrow-right {
    right: 100px;
}