.app {
    height: 100vh;

    --topbar-height: 70px
}

.sections {
    width: 100%;

    /* To take care of topbar */
    height: calc(100vh - var(--topbar-height));

    position: relative;
    top: 70px;

    background-color: lightcoral;

    /* Related to scrolling */
    scroll-snap-type: y mandatory;

    /* For Firefox ONLY */
    scrollbar-width: none;

    scroll-behavior: smooth;


}

/* For other browsers */
::-webkit-scrollbar {
    display: none;
}

.sections>* {
    width: 100vw;
    height: calc(100vh - var(--topbar-height));

    /* If scrolled halfway, go back to top */
    scroll-snap-align: start;
}